.gif-container {
  .gif-items-cols {
    display: flex;
    flex-direction: row;
  }
  .gif-items-col {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .gif-item {
    width: 99%;
    padding: 0.5%;

    &:last-child {
      padding-bottom: 1%;
    }
  }
}
